<div class="container">
  <h2><%= @task.title %></h2>
  <h5><%= @task.details %></h5>
  <% if @task.completed == true %>
    <i class="far fa-check-square"></i>
    <p>This task is completed</p>
  <% else %>
    <p>This task is not completed yet</p>
  <% end %>
  <div class="links">
  <%= link_to "Back to list", tasks_path %>
  <%= link_to "Edit", edit_task_path %>
  <%= link_to "Delete",
              task_path(@task),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
  </div>
</div>
